doctype html
html
  base(href='/')
  include ../includes/head
  body
    .navbar.navbar-inverse.navbar-fixed-top()
    section.content
      section.container
        block content
    include ../includes/foot
